.project-list__heading {
  margin: 2rem 0 0;
  font-size: 1.25rem;
}

.project-list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-list__item + .project-list__item {
  margin-top: 0;
}
