html {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  background: linear-gradient(-30deg, #e1a1f5, #4747eb, #fb51a6, #f5e0a3);
  animation: gradient 7.5s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  height: 100%;
  width: 100%;
}

.zdog-canvas {
  display: block;
  cursor: grab;
  height: 100%;
  width: 100%;
}
